<h3>
  {{if-else photoTitle photoTitle 'no title :('}}
</h3>

<img src="https://farm{{photoFarm}}.staticflickr.com/{{photoServer}}/{{photoId}}_{{photoSecret}}_n.jpg"
     alt="{{if-else photoTitle photoTitle ''}}">