{{#if totalPages}}
  {{log totalPages}}

  <div class="prev-link">
    {{#link-to (query-params page=prevLink) class="" }}
      {{fa-icon "angle-left"}} <span class="link-txt">previous</span>{{/link-to}}
  </div>

  <div class="pagination-status">page {{currentPage}}<span class="separator">/</span>{{totalPages}}</div>

  <div class="next-link">
    {{#link-to (query-params page=nextLink) class="" }}
      <span class="link-txt">next</span> {{fa-icon "angle-right"}}{{/link-to}}
  </div>
{{/if}}
